<%# cocoon %>

<div class="nested-fields well-compact color-box">
  <h6>Color</h6><%# color 登録 %>
  <div class="field_box cp_sl01">
    <div class="select">
      <%= f.select :colors, [["white",0], ["block",1], ["beige",2], ["pink",3], ["brown",4], ["gray",5]], :prompt => "---" %>
    </div>
  </div>
  <p style="margin: 10px;"><%= link_to_remove_association "DELETE", f %></p>
    <%= link_to_add_association "ADD TO COLOR", f, :colors %>    </div>
</div>
