<div class="container">
  <div class="row">
    <div class="col-xs-3">
      <%= render 'layouts/header' %>
    </div>

    <div class="col-xs-9">
      <h2 class="shop_name">Votre histoire</h2>

      <div class="line_box"></div>

      <%# breadcrumbs :complete %>

      <div class="box_complete">
        <strong>ご注文ありがとうございました。</strong><br>
        <br>
        <br>
        <br>
        <br>
        <p>お客様の注文番号は<span><%= @order.order_number %></span>です。</p>
        <p>ご注文内容の詳細をメールにてご送付しておりますので、ご確認くださいませ。</p>
      </div>

    </div>
  </div>
</div>
