<% breadcrumb :complete %>


<div class="container">
  <div class="row">
    <div class="col-xs-10 col-xs-offset-1">
      <h2 class="prodct_name">Votre histoire</h2>

      <div class="line_box"></div>

      <div class="box">
        <p>ご注文ありがとうございました。</p><br>
        <p>お客様の注文番号は<span></span>です。</p>
        <p>ご注文内容の詳細をメールにて誤送付しておりますので、<br>
        ご確認くださいませ。</p>
      </div>

    </div>
  </div>
</div>
