// Place all the styles related to the admin::arrivals controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.table_admin th{
  background-color: #e6e6e6;
  font-weight: normal;
  text-align: center;
  width: 25%;
}
