// Place all the styles related to the admin::items controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.table-date td{
  background-color: #888;
}

.table-content th{
  background: #e6e6e6;
  font-weight: normal;
  white-space: nowrap;
  text-align: center;
}

.sell-content{
  padding: 80px;
  border-bottom: 1px solid #eee;
}

.sell-sub-head{
  float: left;
  color: #888;
}

.sell-form-box{
  float: right;
}

.create{
  padding: 20px auto;
}
