
<% breadcrumb :carts_index %>

<div class="container">
  <div class="row">
    <div class="col-xs-10 col-xs-offset-1">
      <h2 class="prodct_name">Votre histoire</h2>

      <div class="title">CART</div>

      <div class="note">
        <p>下記ご注文内容で送信してもよろしいでしょうか？<br>
            よろしければ、「次へ」ボタンをクリックしてください。</p>
      </div>

      <table class="table">
        <tr>
          <th>ご注文商品</th>
        </tr>
      </table>

      <table class="table_1 table-condensed">
        <tr>
          <th>商品写真</th>
          <th>商品名</th>
          <th>単価（税込）</th>
          <th>数量</th>
          <th>削除</th>
          <th>小計</th>
        </tr>

        <tr>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>

        <tr>
          <td colspan="3", style="text-align:right;">合計</td>
          <td></td>
        </tr>

      </table>

      <table class="table">
        <tr>
          <th>お届け先</th>
        </tr>
      </table>


    </div>
  </div>
</div>
