// Place all the styles related to the addresses controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.add_address{
  float: right;
  padding: 20px;
	margin-bottom: 40px;
}

.center{
  margin: 70px 150px;
}
