/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap-sprockets";
@import "bootstrap";

html*{
  box-sizing: border-box;
}

body{
  margin: 0;
}

input.btn-primary{
  background-color: pink; //ボタンの背景色
}

// フッター
.footer-container{
  overflow: hidden;
  padding: 20px;
  background: #000000;
}

.copyright{
  float: left;
  margin: 0;
  font-size: 0.8rem;
  color: #ffffff;
}

footer address{
  float: right;
  font-style: normal;
  font-size: 1.0rem;
  color: #ffffff;
}

.btn-primary{
  background-color: pink; /* ボタンの色 */
}

// .btn-primary:hover{
//   background-color: gray;
// }

.btn-primary:hover, .btn-primary:focus,
.btn-primary:active, .btn-primary:active:focus, .btn-primary:active:hover, .btn-primary:active.focus,
.btn-primary.active, .btn-primary.active:focus, .btn-primary.active:hover, .btn-primary.active.focus,
.open > .dropdown-toggle.btn-primary,
.open > .dropdown-toggle.btn-primary:hover,
.open > .dropdown-toggle.btn-primary:focus,
.open > .dropdown-toggle.btn-primary.focus,
.btn-primary.disabled:hover, .btn-primary[disabled]:hover, fieldset[disabled] .btn-primary:hover,
.btn-primary.disabled:focus, .btn-primary[disabled]:focus, fieldset[disabled] .btn-primary:focus,
.btn-primary.disabled.focus, .btn-primary[disabled].focus, fieldset[disabled] .btn-primary.focus {
    background: pink; /* ボタンの上にポインタを持ってきたり、クリックしたりした時の背景色 */
    color: black; /* ボタンの上にポインタを持ってきたり、クリックしたりした時のテキストの色 */
}

.btn-primary.outline {
  border: 3px solid pink; //アウトラインのみのボタンの線の色
  // color: ; //アウトラインのみのボタンのテキストの色
}

.header_menu{
  font-family: 'Times New Roman';
}

.shop_name_sideber{
  text-align: left;
	margin: 30px 0 10px 10px;
  font-family: 'Times New Roman';
}
