// Place all the styles related to the carts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.note{
  background-color: #E6E6E6;
}

.cart_content{
  margin: 50px 20px;
  font-family: 'Times New Roman'
}

.choice{
  border: 1px solid #dcdcdc;
  background-color: #dcdcdc;
  margin: 50px 20px 0 20px;
}

.method{
  font-family: 'Times New Roman';
  font-weight: normal;
  font-size: 13px;
  border: 1px solid #dcdcdc;
  padding: 20px;
  margin: 0 20px 0 20px;
}

.delivery-address{
  font-family: 'Times New Roman';
  font-weight: normal;
  font-size: 13px;
}
