// Place all the styles related to the items controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

table {
  border-collapse: collapse;
  width: 100%;
  word-break: break-all; // 文の改行 言語に関係なく表示範囲に合わせて改行する
  word-wrap: break-all; //文字の切れ目で自動改行
}

.table-date th{
  background-color: #dcdcdc;
}

.table-content th{
  background: #efefef;
  font-weight: normal; // 文字の太さ
  white-space: nowrap; // ソース中のホワイトスペース・改行の表示方法 nowrapはは両方とも無効とする
  text-align: left;
  width: 25%;
  padding: 10px;
}

.sell-content{
  padding: 70px;
  border-bottom: 1px solid #f5f5f5;
}

.sell-sub-head{
  float: left;
  color: #888;
}

.sell-form-box{
  float: right;
}

.create{
  padding: 20px auto;
}

.top-image{
  width: 100%;
  margin-top: 40px;
}

.news{
  padding: 40px;
  text-align: center;
}

ul {
  list-style: none;
  padding: 0 260px;
  text-align: left;
  line-height: 30px;
}

.top-image{
  width: 100%;
}

.main-contents{
  margin: 10px auto;
}

.top_title{
  text-align: center;
  font-family: 'Times New Roman'
}
