// Place all the styles related to the items controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

table {
  border-collapse: collapse;
  width: 100%;
  word-break: break-all; // 文の改行 言語に関係なく表示範囲に合わせて改行する
  word-wrap: break-all; //文字の切れ目で自動改行
}

.table-date th{
  background-color: #dcdcdc;
  height: 25px;
  font-weight: normal;
}

.table-content th{
  background: #efefef;
  font-weight: normal; // 文字の太さ
  white-space: nowrap; // ソース中のホワイトスペース・改行の表示方法 nowrapはは両方とも無効とする
  text-align: left;
  width: 20%;
  padding: 10px;
}

.table-content-block th{
  background: #efefef;
  font-weight: normal; // 文字の太さ
  white-space: nowrap; // ソース中のホワイトスペース・改行の表示方法 nowrapはは両方とも無効とする
  text-align: center;
  padding: 10px;
  font-family: 'Times New Roman';
}

.table-content-block td{
  text-align: center;
}

.table-content td{
  font-weight: normal;
  padding: 10px;
}

.create{
  padding: 20px auto;
}

.top-image{
  width: 100%;
  margin-top: 40px;
}

.news{
  padding: 40px;
  text-align: center;
}

ul {
  list-style: none;
  padding: 0 160px;
  text-align: left;
  line-height: 30px;
}

.top-image{
  width: 100%;
}

.main-contents{
  margin: 10px auto;
}

.top_title{
  text-align: center;
  font-family: 'Times New Roman';
}

.show_page{
  margin: 60px 10px 20px 40px;
}

.item_show_image{
  
}

.show_page_side{
  margin: 60px 0 0 10px;
}

.item_show_name{
  font-size: 25px;
  font-weight: normal;
  margin-bottom: 20px;
  font-family: 'Times New Roman';
}

.item_show_price{
  font-size: 22px;
  font-family: 'Times New Roman';
}

.tax{
  display: inline;
  font-size: 13px;
}

.cart_presence{
  margin: 10px;
}

.item_show_favorite{
  display: inline;
  background-color: #EFEFEF;
  background-size: 50% auto;
  border-radius: 100%;
  width: 32px;
  height: 32px;
  text-align: center;
}

.heart{
  color: pink;
}

.item_color{
  font-size: 20px;
  font-family: 'Times New Roman';
}

.item_material{
  font-size: 13px;
  margin: 20px;
}

.material_date{
  font-size: 11px;
}
