// Place all the styles related to the orders controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.line_box_admin{
  width: 50%;
	border-bottom: 1px solid #333333;
  margin: 10px auto;
}

.box{
  margin: 30px auto;
  padding: 50px;
  border: 1px solid #333333;
  border-radius: 30px;
}

.box_complete{
  margin: 30px auto;
  padding: 150px;
  border: 1px solid #333333;
  text-align: center;
  font-size: 14px;
  font-weight: normal;
}

.order-edit{
  text-align: left;
}

.title_cart{
  font-size: 20px;
	font-family: 'Times New Roman';
  text-align: left;
  margin-bottom: 10px;
}
