// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.shop_name{
  text-align: center;
  margin-top: 30px;
}

.title{
  text-align: center;
  font-size: 20px;
}

.space{
  margin-top: 40px;
}

.line_box{
  width: 30%;
	border-bottom: 1px solid #333333;
  margin: 10px auto;
}

.line_box_long{
  width: 100%;
	border-bottom: 1px solid #333333;
  margin: 10px auto;
}

.line_box_login{
  width: 100%;
	border-bottom: 1px solid #FFCCCC;
  margin: 10px auto;
}

.field{
  text-align: center;
  margin: 20px auto;
}

.field_1{
  text-align: left;
}

.user_item{
  text-align: left;
}

