<div class="container">
  <div classs="row">

    <div class="col-xs-3">
      <%= render 'layouts/header_admin' %>
    </div>

    <div class="col-xs-9">
      <div class="line_box_long"></div>
      <div class="title">ARRIVAL</div>
      <div class="line_box_long"></div>

      <table class="table_admin table-condensed">
        <tr>
          <th>Product name</th>
          <th>Date</th>
          <th>Genre</th>
          <th>Stock</th>
          <th>Status</th>
        </tr>

        <tr>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
      </table>
    </div>

    <%# ページネーション追加 %>

  </div>
</div>
